.text {
	font-size: calc(var(--base-size));
	line-height: 1.2;
	letter-spacing: 0.2px;
	text-align: justify;
}

.text:not(:last-child) {
	margin: 0px 0px calc(var(--baseline) * 1.5) 0px;
}

.text:not(:first-child)::before {
	display: inline-block;
	height: 50px;
	width: 10px;
}
.verse {
    display: table;
    white-space: pre-line;
    word-wrap: break-word;
	background-color: aliceblue;
}
body {
	background: url(https://img0.liveinternet.ru/images/attach/c/0/36/537/36537773_1229003659_christmas_background2.gif);
}
